.password2_text{
    font-size: 24px;
    color: #505050;
    padding-left: 27px;
    font-weight: 640;
}

.password2_formelements label{
    color: #483699;
    padding-left: 26.75px;
    font-size: 16px;
}

.password2_formelements input{
    border: none;
    background-color: #ddd3fc;
    border-bottom: 1px solid #666666;
    margin-left: 26.75px;
    padding-top: 10px;
    margin-bottom: 10px;
    opacity: 50%;
    outline: none;
}

.proceed_button{
    width: 323px;
    height: 38px;
    color: #ffffff;
    background-color: #684EDC;
    border-radius: 18px;
    border: none;
    margin-left: 44px;
    margin-top: 100px;
}

.password2_details{
    margin-top: -100px;
}

