.forgotpassword_text{
    font-size: 24px;
    color: #505050;
    padding-left: 27px;
    font-weight: 650;
}

.formelements label{
    color: #483699;
    padding-left: 26.75px;
    font-size: 16px;
}

.formelements input{
    border: none;
    outline: none;
    background-color: #ddd3fc;
    border-bottom: 1px solid #666666;
    margin-left: 26.75px;
    padding-top: 10px;
    margin-bottom: 10px;
    opacity: 50%;
}

.verification_button{
    width: 323px;
    height: 38px;
    color: #ffffff;
    background-color: #684EDC;
    border-radius: 18px;
    border: none;
    margin-left: 44px;
    margin-top: 25px;
    margin-bottom: 14px;
}

.forgotpassword_details{
    margin-top: -100px;
}

.loginpage_link{
    text-decoration: none;
    padding-left: 160px;
    margin-top: 14px;
}

a:active{
    color: #483699;
}

.bottom_part{
    padding-top: 70px;
}