.fpheading{
    position: relative;
}

.fplable{
    position: absolute;
    color: #505050;
    width: 190Spx;
    height: 32px;
    top: 544px;
    left: 27px;
    font-size: 24px;
}

.logintext{
    position: absolute;
    color: #483699;
    width: 72px;
    height: 16px;
    top:834px ;
    left: 172px;
    font-size: 12px;
}

.codelable{
    position: absolute;
    top:600px;
    left:26.75px;
    width: 78px;
    height: 21px;
    color: #483699;
}

.codeinput1{
    position: absolute;
    background: #FFFFFF;
    border-color: #AF8AF7;
    border-radius: 5px;
    top: 630px;
    left: 27px;
    opacity: 50%;
    width: 26px;
    height: 30px;
    outline: none;
}

.codeinput2{
    position: absolute;
    background: #FFFFFF;
    border-color: #AF8AF7;
    border-radius: 5px;
    top: 630px;
    left: 63px;
    opacity: 50%;
    width: 26px;
    height: 30px;
    outline: none;
}

.codeinput3{
    position: absolute;
    background: #FFFFFF;
    border-color: #AF8AF7;
    border-radius: 5px;
    top: 630px;
    left: 99px;
    opacity: 50%;
    width: 26px;
    height: 30px;
    outline: none;
}

.codeinput4{
    position: absolute;
    background: #FFFFFF;
    border-color: #AF8AF7;
    border-radius: 5px;
    top: 630px;
    left: 135px;
    opacity: 50%;
    width: 26px;
    height: 30px;
    outline: none;
}

.newpassword{
    position: absolute;
    top:600px;
    left:26.75px;
    width: 104px;
    height: 21px;
    color: #483699;
}

.newpasswordinput{
    background: none;
    border: none;
    border-bottom: 1px solid#666666;
    position: absolute;
    top: 630px;
    left: 26.75px;
    outline: none;
    opacity: 50%;
}