.indexedStep {
    width: 37px;
    height: 37px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.indexedStep.accomplished {
    width: 52px;
    height: 52px;
    font-size: 20px;
    background-color: #664DE5;
    color: white;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 3px 6px #684EDC5C;
}

.indexedStep.null{
    background-color: #EBEBEB;
}

.RSPBprogressBar {
    height: 1.5px;
    width: 84%;
    position: relative;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
}

.RSPBprogressBar .RSPBstep {
    /* display: inline-flex;
    justify-content: center;
    align-items: center;  */
    z-index: 1;
    position: absolute;
    transform: translateX(-50%);
    /* transition-property: all;
    transition-timing-function: ease; */
}

/*.RSPBprogressBar .RSPBprogressBarText {
    /* color: white;  */
    /* font-size: 10px; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%);  
}*/

.RSPBprogressBar .RSPBprogression {
    position: absolute;
    transition: width 0.5s ease;
    left: 2px;
    top: -1px;
    bottom: 0;
    background: #664DE5;
    padding: 2px;
    border-radius:10px;
}


