.onboard1_details{
    background-color: white;
    height: 354px;
    margin-top: -104px;
    border-radius: 19px 19px 0 0;
}

.onboard1_text1{
    font-size: 24px;
    color: #505050;
    padding-left: 16px;
    font-weight: 640;
    margin-bottom: -16px;
    margin-top: 40px;
}

.onboard1_text2{
    font-size: 14px;
    color: #483699;
    padding-left: 16px;
    padding-bottom: 10px;
}

.onboard1_formelements label{
    color: #483699;
    padding-left: 16px;
    font-size: 16px;
}

.onboard1_formelements input{
    border: none;
    outline: none;
    border-bottom: 1px solid #666666;
    margin-left: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
    width: 180px;
}

.GetStarted_button{
    border:none;
    border-radius: 18px;
    background-color: #B0B0B0;
    width: 139px;
    height: 38px;
    color: #ffffff;
    margin-left: 257px;
    margin-top: 30px;
}

.onboard1_bar{
    padding-top: 48px;
    padding-left: 10px;
}

